<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card card-inverse card-primary o-hidden h-100">
      <div class="card-block">
        <div class="card-block-icon">
          <i class="fa fa-fw fa-comments"></i>
        </div>
        <div class="mr-5" i18n="Messages Card|Messages Card@@messagesCard">
          26 New Messages!
        </div>
      </div>
      <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left" i18n="View Details|View Details@@viewDetails">View Details</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card card-inverse card-success o-hidden h-100">
      <div class="card-block">
        <div class="card-block-icon">
          <i class="fa fa-fw fa-user-plus"></i>
        </div>
        <div class="mr-5" i18n="Requests Card|Requests Card@@requestsCard">
          1 Friend Request!
        </div>
      </div>
      <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left" i18n="View Details|View Details@@viewDetails">View Details</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card card-inverse card-warning o-hidden h-100">
      <div class="card-block">
        <div class="card-block-icon">
          <i class="fa fa-fw fa-users"></i>
        </div>
        <div class="mr-5" i18n="Group Chat Card|Group Chat Card@@groupChatCard">
          Start a Group Chat
        </div>
      </div>
      <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left" i18n="View Details|View Details@@viewDetails">View Details</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card card-inverse card-danger o-hidden h-100">
      <div class="card-block">
        <div class="card-block-icon">
          <i class="fa fa-fw fa-sign-out"></i>
        </div>
        <div class="mr-5" i18n="Logout Card|Logout Card@@logoutCard">
          Log Out
        </div>
      </div>
      <a href="#" class="card-footer clearfix small z-1">
                            <span class="float-left" i18n="Logout Card Footer|Logout Card Footer@@logoutCardFooter">Click Here to Log Out</span>
                            <span class="float-right"><i class="fa fa-angle-right"></i></span>
                        </a>
    </div>
  </div>
</div>
