<!-- Navigation -->
<app-main-nav></app-main-nav>

<div class="content-wrapper pady">
  <div class="container-fluid">
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="position:absolute;width:80%;height:50px;z-index:99"
      *ngIf="msgFromServer">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{msgFromServer}}</strong>
    </div>
    <router-outlet></router-outlet>

  </div>
</div>
<!-- /.container-fluid -->


<a class="scroll-to-top rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
