div.card-primary {
  background: linear-gradient(to left, #0275d8, #52acf9);
}

div.card-success {
  background: linear-gradient(to left, #53a953, #93e095);
}

div.card-warning {
  background: linear-gradient(to left, #f0ad4e, #f7cb8e);
}

div.card-danger {
  background: linear-gradient(to left, #d9534f, #ff8a85);
}

.card-inverse{
  color:rgba(255, 255, 255, 0.75);
}
